
html, body{
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
    background-color: #e7e6e6;
    font-family: Montserrat, sans-serif;
}



#formLogin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
#formLogin .form-control{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

#formLogin #usuario {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#formLogin #senha {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#bemvindo{
    animation: aparece .7s;
}
@keyframes aparece {
    0% {
        opacity: 0;
    }
    15%{
        opacity: 0.15;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 0.5;
    }
    65%{
        opacity: 0.65;
    }
    75%{
        opacity: 0.75;
    }
    100%{
        opacity: 1;
    }
}

